/* Font */
@font-face {
  font-family: "Classica";
  src: url("../font/Classica/Classica.ttf") format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #16161a;
  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;
  --button-color: #7f5af0;
  --button-hover-color: #50379c;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color) !important;
  font-family: "Classica", sans-serif !important;
  width: 100%;
  height: auto;
}

body::after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/gifnoise.gif);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0.06;
  will-change: auto;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover-color);
}

/* Scroll Bar End */

/* Nav */

.navbar,
.navbar-expand-lg {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.navbar-brand {
  width: 3rem;
  height: 3rem;
  background-image: url("../img//logo.png") !important;
  background-position: center;
  background-size: cover;
}

.navbar-brand:hover {
  background-image: url("../img/logo-hover.png") !important;
}

.nav-item {
  width: 10%;
}

.nav-item a {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--headline-color);
}

.nav-item a:hover {
  transition: all 0.5s;
  color: var(--button-color);
}

.active-link {
  color: var(--button-color) !important;
}

button {
  border: transparent !important;
}

button:active,
button:focus,
button.active,
button:active:focus {
  border: transparent !important;
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 600px) {
  .nav-link {
    margin-top: 3rem;
    font-size: 4rem !important;
  }
}

/* Nav End */

/* Hero Section */

#myHero {
  color: var(--headline-color);
}

.hero-illustration {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-image {
  justify-content: space-between;
  margin: 0 auto 0 auto;
  max-width: 28rem;
  max-height: 28rem;
  animation: float-1 4s ease-in-out infinite;
}

.greeting {
  color: var(--button-color);
}

.hero-title {
  color: var(--headline-color);
}

/* Hero Section End */
