/* Font */
@font-face {
  font-family: "Classica";
  src: url("../font/Classica/Classica.ttf") format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #16161a;
  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;
  --button-color: #7f5af0;
  --button-hover-color: #50379c;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color) !important;
  font-family: "Classica", sans-serif !important;
  width: 100%;
  height: auto;
}

/* Nav */

.navbar,
.navbar-expand-lg {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.navbar-brand {
  width: 3rem;
  height: 3rem;
  background-image: url("../img//logo.png") !important;
  background-position: center;
  background-size: cover;
}

.navbar-brand:hover {
  background-image: url("../img/logo-hover.png") !important;
}

.nav-item {
  width: 10%;
}

.nav-item a {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--headline-color);
}

.nav-item a:hover {
  transition: all 0.5s;
  color: var(--button-color);
}

.active-link {
  color: var(--button-color) !important;
}

button {
  border: transparent !important;
}

button:active,
button:focus,
button.active,
button:active:focus {
  border: transparent !important;
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 600px) {
  .navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-link {
    margin: 2rem 0 2rem 0;
    font-size: 5rem !important;
  }
}

/* Nav End */

/* Hero Section */

#myHero {
  margin: 8rem 0 0 0;
}

.hero-title {
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--headline-color);
}

.hero-sub-title {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--paragraph-color);
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media a {
  margin: 1rem 1rem;
  text-decoration: none;
  color: var(--headline-color);
}

.social-media a:hover {
  transition: all 0.6s;
  color: var(--button-color);
}

ion-icon {
  font-size: 34px;
}

@media screen and (max-width: 600px) {
  #myHero {
    margin: -3rem 0;
  }
  .hero-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--headline-color);
  }
  .hero-sub-title {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--paragraph-color);
  }
  ion-icon {
    font-size: 24px;
  }
}

/* Hero Section End */
