/* Font */
@font-face {
  font-family: "Classica";
  src: url("../font/Classica/Classica.ttf") format(truetype);
}

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

:root {
  --bg-color: #16161a;
  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;
  --button-color: #7f5af0;
  --button-hover-color: #50379c;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  font-family: "Classica", sans-serif;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.3rem 4rem !important;
  background-color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

ul li a {
  color: var(--headline-color);
  text-decoration: none;
}

ul li a:hover {
  transition: all 0.5s;
  color: var(--button-color);
}

.logo img {
  width: 3rem;
  height: 3rem;
}

/* Burger Menu */

.burger-menu {
  position: relative;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.burger-menu input {
  position: absolute;
  top: -3px;
  left: -5px;
  width: 38px;
  height: 27px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.burger-menu input:checked,
.burger-menu input:active {
  opacity: 0;
}

.burger-menu span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--headline-color);
  border-radius: 4px;
  transition: all 0.5s;
}

.burger-menu span:nth-child(2) {
  transform-origin: 0 0;
}

.burger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.burger-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
  background-color: var(--button-color);
}

.burger-menu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.burger-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-2px, 0);
  background-color: var(--button-color);
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .burger-menu {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly !important;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    background-color: black;
    transform: translateX(-100%);
    transition: all 1s;
  }
  nav ul li a {
    font-size: 2rem;
  }

  nav ul.slide {
    transform: translateX(0%);
  }
}

/* Nav End */
